services:
  server:
    build:
      context: server/
      dockerfile: Dockerfile
    container_name: django-battlestats
    command: >
      bash -c "python manage.py makemigrations &&
                  python manage.py migrate &&
                  python manage.py runserver 0.0.0.0:8080"
    ports:
      - "8080:8080"
    env_file:
      - server/.env
    depends_on:
      - redis

  task-runner:
    container_name: celery-battlestats
    build:
      context: server/
      dockerfile: Dockerfile
    command: celery -A battlestats worker -l INFO
    env_file:
      - server/.env
    depends_on:
      - server
      - redis

  task-scheduler:
    container_name: beat-battlestats
    build:
      context: server/
      dockerfile: Dockerfile
    command: celery -A battlestats beat -l INFO --scheduler django_celery_beat.schedulers:DatabaseScheduler
    env_file:
      - server/.env
    depends_on:
      - server
      - task-runner
      - redis

  redis:
    container_name: redis-battlestats
    image: redis:latest
    ports:
      - "6380:6379"
