[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
python-dateutil = "*"
pdbpp = "*"
gunicorn = "*"
psycopg2-binary = "*"
pandas = "*"
django-cors-headers = "*"
tzdata = "*"
django-dotenv = "*"
celery = {extras = ["redis"], version = "*"}
django-celery-beat = "*"
pytest = "*"
pytest-django = "*"
model-bakery = "*"

[dev-packages]

[requires]
python_version = "3.11"
