{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block d3 %}
  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script>var clan_id = {{ context.clan.clan_id }}</script>
  <script src="{% static 'clan_plot.js' %}"></script>
  
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="{% static 'search.js' %}"></script>
{% endblock %}

{% block content %} 
<style>

  .x_axis path {
    display: none;
  }

  .axisLabel {
    fill: #111;
    opacity: 0.5;
  }
  a {
    color: #555;
    text-decoration: none;
  }
  a:hover {
    color: #a503fc;
  }
</style>

<section class="mw5 mw7-ns center pa3 ph5-ns">

<div class="mw9 ph2-ns">
  <div class="cf ph2-ns">
    <div class="fl center pa0">
      <div class="ph2">
        <div class="pv2">

            <div class="nav-content pt3">
              <div class="brand">

                <div class="ui-widget">
                  <a href="{% url 'splash' %}">Home</a> | 
                  <label for="player_query">Search Players: </label>
                  <input id="player_query">
                </div>
          
              </div>
            </div>

          <div class="f6 lh-copy">
            <h1 class="f2 lh-solid">{{ context.clan.name }}<span class="ph3">[{{ context.clan.tag }}]</span></h1>
            <p class="f4 lh-copy">{{ context.all_members }} Members | {{ context.active_members }} Active </p>
          </div>
          <div id="svg_container"></div>
          <div class="pa3 f6 lh-copy">
            Activity:
            <input type="radio" onclick="drawClanPlot()" value="active" name="filter_type" checked="checked"> Active
            <input type="radio" onclick="drawClanPlot()" value="all" name="filter_type" > All
          </div>
          <div>
            <h2 class="f3 lh-copy">Members</h2>
            <div class="f6 lh-copy pa3">
              {% for player in context.members %}
                {% if player.is_hidden == False %}
                  <span class="pl0 pr0"><a href="{% url 'player' player.name %}">{{ player.name }}</a> &#9737;</span>&nbsp;
                {% else %}
                  <span class="pl0 pr0">{{ player.name }} &#9737;</span>&nbsp;
                {% endif %}
              {% endfor %}
            </div>

        </div>
      </div>
    </div>
  </div>
  </div>
  </section>
{% endblock %} 
