{% extends "base.html" %}
{% load humanize %}
{% block content %} 
<div class="mw9 center ph3-ns">
  <div class="cf ph2-ns">
    <div class="fl w-100 w-third-ns pa2">
      <div class="pv5"></div>
    </div>
    <div class="fl w-100 w-third-ns pa2">
      <div class="pv5">
        <div class="pv4">
          <div>
            {{ context.player.name }} registered {{ context.player.creation_date.year }}
          </div>
          <div>
            Last Game: {{ context.player.days_since_last_battle }} days ago
          </div>
          <div class="pv4">
            <img src="data:image/png;base64,{{ context.recent_plot }}"/>
          </div>
          <div class="pv4">
            <img src="data:image/png;base64,{{ context.ship_plot }}"/>
          </div>
        </div>
        <div>
          Battles: {{ context.player.pvp_battles|intcomma }} pvp | {{ context.player.total_battles|intcomma }} total
        </div>
        <div>PvP Win Rate: {{ context.player.pvp_ratio }}%</div>
        <div>
          Survival: Overall: {{context.player.pvp_survival_rate }}%, Wins {{ context.player.wins_survival_rate }}%
        </div>
        <div>
          Experienced
          Active
          Great at Battleships
          Awesome at Destroyers
          Poor at Cruisers
          Ace in CVs
          No subs
        </div>
      </div>
    </div>
    <div class="fl w-100 w-third-ns pa2">
      <div class="pv5"></div>
    </div>
  </div>
</div>
{% endblock %}
