{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block d3 %}
<script src="https://d3js.org/d3.v6.min.js"></script>
<script>var player_id = {{ context.player.player_id }};</script>
<script src="{% static 'plots.js' %}"></script>
{% endblock %}

{% 

{% block content %} 
<style>

  .x_axis path {
    display: none;
  }

  .bar1 {
    fill: #333;
    opacity: 0.5;
  }
  
  .bar2 {
    fill: #333333;
    opacity: 0.5;
  }

</style>

<div class="mw9 center ph2-ns">
  <div class="cf ph2-ns">
    <div class="fl w-60 pa0">
      <div class="ph2">
        <div class="pv2">
          <div class="f6 lh-copy">
            <h1 class="f2 lh-solid">{{ context.player.name }}</h1>  
          </div>
          <div class="f6 lh-copy ph3">
            <span class="ph3"><span class="f3 lh-solid">{{ context.player.pvp_ratio }}</span>% Win Rate</span>
            <span class="ph3"><span class="f3 lh-solid">{{ context.player.pvp_battles|intcomma }}</span> PvP Battles</span>
            <span class="f3 lh-solid">{{context.player.pvp_survival_rate }}</span>% Survival
          </div>
          <div class="f6 lh-copy pa3">
            <span class="ph3">Last Played: {{ context.player.days_since_last_battle }} days ago</span>
          </div>

        
        <div>
          
        </div>
          <div id="container"></div>
          <div class="pa3">
            <input type="radio" onclick="changeType('pvp_battles')" name="battle_type" value="pvp_battles" checked="checked"> All
            <input type="radio" onclick="changeType('pve_battles')" name="battle_type" value="pve_battles"> Battleships
            <input type="radio" onclick="changeType('win_ratio')" name="battle_type" value="win_ratio"> Cruisers
            <input type="radio" onclick="changeType('all_battles')" name="battle_type" value="all_battles"> Destroyers
            <input type="radio" onclick="changeType('all_battles')" name="battle_type" value="all_battles"> CVs
            <input type="radio" onclick="changeType('all_battles')" name="battle_type" value="all_battles"> Subs
          </div>
        </div>

        <div>
        </div>
      </div>
      <div class="fl w-40 pa2">
        <div class="pv5"></div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
