{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block d3 %}
<script src="https://d3js.org/d3.v6.min.js"></script>
<script>var player_id = {{ context.player.player_id }};</script>
<script src="{% static 'plots.js' %}"></script>
{% endblock %}

{% 

{% block content %} 
<style>

  .x_axis path {
    display: none;
  }

  .bar1 {
    fill: #333;
    opacity: 0.5;
  }
  
  .bar2 {
    fill: #333333;
    opacity: 0.5;
  }

</style>

<div class="mw9 center ph2-ns">
  <div class="cf ph2-ns">
    <div class="fl w-60 pa0">
      <div class="ph2">
        <div class="pv2">
          <div class="f6 lh-copy">
            <h1 class="f2 lh-solid">{{ context.player.name }}</h1>  
          </div>
          <div class="f6 lh-copy ph3">
            <span class="ph3"><span class="f3 lh-solid">{{ context.player.pvp_ratio }}</span>% Win Rate</span>
            <span class="ph3"><span class="f3 lh-solid">{{ context.player.pvp_battles|intcomma }}</span> PvP Battles</span>
            <span class="f3 lh-solid">{{context.player.pvp_survival_rate }}</span>% Survival
          </div>
          <div class="f6 lh-copy pa3">
            <span class="ph3">Last Played: {{ context.player.days_since_last_battle }} days ago</span>
          </div>

          <div id="pvp_stats_svg_container"></div>
          <div class="pa3">
          Ship Type: 
            <input type="radio" onclick="drawBattlePlot('pvp_battles')" name="filter_type" checked="checked"> All
            <input type="radio" onclick="drawBattlePlot('Battleship')" name="filter_type"> Battleships
            <input type="radio" onclick="drawBattlePlot('Cruiser')" name="filter_type"> Cruisers
            <input type="radio" onclick="drawBattlePlot('Destroyer')" name="filter_type"> Destroyers
            <input type="radio" onclick="drawBattlePlot('AirCarrier')" name="filter_type"> CVs
            <input type="radio" onclick="drawBattlePlot('Submarine')" name="filter_type"> Subs

          Tier: 
            <input type="radio" onclick="drawBattlePlot('tier_all')" name="filter_tier" checked="checked"> All
            <input type="radio" onclick="drawBattlePlot('tier_10')" name="filter_tier"> X
            <input type="radio" onclick="drawBattlePlot('tier_9')" name="filter_tier"> IX
            <input type="radio" onclick="drawBattlePlot('tier_8')" name="filter_tier"> VIII
            <input type="radio" onclick="drawBattlePlot('tier_7')" name="filter_tier"> VII
            <input type="radio" onclick="drawBattlePlot('tier_6')" name="filter_tier"> VII
          </div>
        </div>

        <div class="f6 lh-copy ph3">
        other recent lookups:
        {% for lookup in context.recent_players %}
          <a href="{% url 'player' lookup.player.name %}">{{ lookup.player.name }}</a>
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="fl w-40 ph6">
    <div class="" id="ship_battles_svg_container"></div>
  </div>
</div>
{% endblock %}
