{% extends "base.html" %}
{% load static %}

{% block d3 %}
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="{% static 'search.js' %}"></script>
{% endblock %}

{% block content %} 

<section class="mw5 mw7-ns center pa3 ph5-ns">

  <div class="mw9 center ph2-ns">
  <div class="cf ph2-ns">
    <div class="fl w-100 pa0">
      <div>
        <h1>Battlestats.io: Charts for WoWs Players</h1>
      </div>

      <div class="fl w-100 pt5">
        <h3>Players:</h3>
	<p class="code">/warships/player/&lt;player_name&gt;</p>
	<p class="pt2">example players:</p>
          {% for player in context.players %}<a href="{% url 'player' player.name %}">{{ player.name }}</a> &#9737; {% endfor %}
      </div>

      <p class="fl w-100 pt3">
        <label for="player_query">Search Players: </label>
        <input id="player_query">
      </p>
      <p>All players are available via search. Player names will pre-populate as you type.</p> 
      
      <div class="fl w-100 pt5">
        <h3>Naval Clans:</h3>
	<p class="code">/warships/clan/&lt;clan_id&gt;</p>
	<p class="pt2"> example naval clans:</p>
          {% for clan in context.clans %}<a href="{% url 'clan' clan.clan_id %}">{{ clan.name }}</a> &#9737; {% endfor %}
      </div>
  <p class="fl f7 lh-copy w-100 pt5">
  This data is accessed via publicly available API as part of the WG DPP program. 
  Battlestats.io only accesses publicly available information. We do not collect private data.
  </p>
    </div>
  </div>
</div>

</section>
  {% endblock %} 
